<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Tableau de bord</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <!-- mettre un logo de l'uphf -->
             <img id="logo" src="img/UPHF_logo.png"/>
        </div>
    </div>
    <div class="header-icons">
        <div class="icon notification"></div>
        <div class="icon settings"></div>
        <div class="icon profile"></div>
    </div>
    
    <div class="main-content">
        <div class="stats-grid">
            <div class="stat-card">
                <div class="stat-title">Absences du jour</div>
                <div class="stat-number">13</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Taux de présence</div>
                <div class="stat-number">92%</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Absences non justifiées</div>
                <div class="stat-number">26</div>
            </div>
        </div>
    </div>

    <div class="absence-section">
        <h2 class="section-title">Absences récentes</h2>
        <p class="section-subtitle">Dernières absences signalées dans le système.</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Étudiant</th>
                    <th>Cours</th>
                    <th>Date</th>
                    <th>Raison</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</header>
</body>
</html>