<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Tableau de bord</title>
    <meta charset="UTF-8">
</head>
<body>
    <header class="header">
        <div class="logo">
            <!-- mettre un logo de l'uphf -->
        </div>
    </div>
    <div class="header-icons">
        <div class="icon notification"></div>
        <div class="icon settings"></div>
        <div class="icon profile"></div>
    </div>
    
    <div class="main-content">
        <div class="stats-grid">
            <div class="stat-card">
                <div class="stat-title">Absences du jour</div>
                <div class="stat-number">13</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Taux de présence</div>
                <div class="stat-number">92%</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Absences non justifiées</div>
                <div class="stat-number">26</div>
            </div>
        </div>
    </div>
</header>
</body>
</html>